
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    body {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
    .booklist-box {
      margin-top: 40px;
      width: 80%;
      height: 600px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 20px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    .booklist-box > h2 {
      font-size: 80px;
      margin: 20px 0;
    }
    .booklist-box > div {
      margin-bottom: 30px;
    }
    .booklist-box label {
      display: block;
      font-size: 22px;
      margin-bottom: 10px;
    }
    .booklist-box input {
      border: none;
      display: block;
      width: 450px;
      height: 50px;
      padding: 10px;
      font-size: 16px;
      outline: none;
      border-radius: 6px;
      box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    }
    .add {
      display: flex;
      background-color: #16a34a;
      width: 450px;
      justify-content: center;
      text-decoration: none;
      font-size: 28px;
      padding: 20px 0;
      border-radius: 10px;
      color: white;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
    .result-box {
      margin-top: 10px;
      width: 80%;
      height: 40px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }
    .show-result {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;
    }
    .show-result > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0px;
      flex-grow: 1;
    }
    .show-result > div > h3 {
        margin-bottom: 20px;
    }
    .alert-box {
      border: 1px solid #9ca3af;
      width: 300px;
      height: 100px;
      padding: 10px;
      text-align: center;
      font-size: 22px;
      border-radius: 6px;
      font-family: monospace;
      color: #27272a;
      display: none;
      position: fixed;
      left: 70%;
      top: 5%;
      background-color: #cbd5e1;
      transition: 1s;
    }
    .alert-box > a {
      width: 40px;
      display: block;
      background-color: #2563eb;
      color: white;
      text-decoration: none;
      font-size: 14px;
      padding: 3px 7px;
      border-radius: 4px;
      transform: translate(230px, 30px);
    }
